html, body {
background-color:steelblue;
}
.flex-container {
  display: flex;
  justify-content: center;
  }
.cardContainer {
	width: 28%;
	margin:3%;
}
#card {
	
}
.front, .back {
	text-align:center;
	height:225px !important;
	vertical-align:middle;
	line-height:225px;
	background-color:#fff;
}
.front {
	
}
.back {

}
.buttons {
	text-align:center;
}
button {
	background-color:#fff;
	border:1px solid #A9A9A9;
	margin:0;
}
.material-icons {
	font-size:36px !important;
	display: inline-flex !important;
	vertical-align: middle !important;
}
.front-deck {
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);
}
.border-transfer {
	border:3px solid orange;
}

.cards {
	display:none;
}

.form {
	text-align:center;
	color:magenta;
}

.formButtons {
	background-color:steelblue;
	border:0px;
}