html, body {
background-color:steelblue;
font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  }

.cardContainer {
	width: 28%;
	margin:3%;
}

#card {

}

.front, .back {
	text-align:center;
	height:225px !important;
	vertical-align:middle;
	line-height:225px;
	background-color:#fff;
}

.front {

}

.back {

}

.buttons {
	text-align:center;
}

button {
	background-color:#fff;
	border:1px solid #A9A9A9;
	margin:0;
}

.material-icons {
	font-size:36px !important;
	display: inline-flex !important;
	vertical-align: middle !important;
  color: #43536d;
}

.front-deck {
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);
}

.border-transfer {
	border:3px solid orange;
}

.cards {
	display:none;
}

.form {
  width: 50%;
  margin: 30px auto;
  border-color: white;
  background-color: white;
	text-align:center;
  color:white;
  display: block;
}

.formButtons {
	background-color:transparent;
	border:0px;
  margin: 10px 5px;
}

.cardEntry {
  border-radius: 3px;
  border: 2px solid black;
  margin: .5rem;
  background-color: linen;
}

footer {
  color: white;
  position: relative;
  width: 100%;
  bottom: -18rem;
  text-align: center;
  margin: 40px 0 20px;
  display: block;
}

.cardTitle{
  font-size: 16px;
  border-radius: 3px;
  border: 2px solid black;
  margin: 1rem;
  background-color: linen;
}

.deck-name, .home-title{
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ccc;
}

.navbar li {
  float: left;
  width: 25%;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 26px;
  text-decoration: none;
  border: solid 0.5px black
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: #666;
  color: white;
}

.select-deck select{
  width: 200px;
  padding: 5px;
  margin-top: 15px;
  height: 30px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-color: #ccc;
}

.deck-navbar{
  display:none;
  text-decoration: none;
  background-color: white;
  margin-top: 2rem;
  margin-left: 21rem;
  margin-right: 21rem;
  color: #43536d;
  text-align: center;
  border: none;
  height: auto;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px;
}



.swcontrols {
    margin-top: 2rem;
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
}

.swbutton {
  color: #bbb;
  font-size: 4vw;
  margin: 0 0.5em;
  text-decoration: none;
}

.swbutton:first-child {
    margin-left: 0;
}

.swbutton:last-child {
    margin-right: 0;
}

.swbutton:hover {
  color: white;
}

.stopwatch {
    display:none;
    font-size: 3rem;
    height: 100%;
    margin-top: 4rem;
    text-align: center;
}

.swresults {
  border-color: lime;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}